<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta lang="en">
    <title>Editar Asociado</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">

                <form method='POST' action="/update/" name="formulario" id="formulario">
                    <h2>Editar Asociado</h2>
                    <div>
                        <label for="dni">DNI: </label>
                        <input class="form-control" id="dni" type="number" name="dni" value="<%= data.dni %>" readonly>
                    </div>
                    <div>
                        <label for="nombre">Nombre: </label>
                        <input class="form-control" id="nombre" type="text" name="nombre" value="<%= data.nombre %>"
                            required>
                    </div>
                    <div>
                        <label for="apellido">Apellido: </label>
                        <input class="form-control" id="apellido" type="text" name="apellido"
                            value="<%= data.apellido %>" required>

                    </div>
                    <div>
                        <label for="email">E-mail: </label>
                        <input class="form-control" id="email" type="email" name="email" value="<%= data.email %>"
                            required>
                    </div>
                    <div>
                        <label for="fnacimiento">Fecha de Nacimiento: </label>
                        <input class="form-control" id="fnacimiento" type="date" name="fnacimiento"
                            value="<%= data.fnacimiento %>" required>
                    </div>
                    <div>
                        <label for="grsan">Grupo Sanguineo: </label>
                        <select class="form-control" id="grsan" type="text" name="grsan" value="" required>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                        </select>
                    </div>
                    <div>
                        <label for="enfermedad">Enfermedades Cronicas: </label>
                        <select class="form-control" id="enfermedad" type="text" name="enfermedad"
                            value="<%= data.enfermedad %>" required>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success btn-block">Editar</button>

                    </div>
                </form>
                <div>
                    <button id="cancelar" class="btn btn-danger btn-block" onclick="history.back ()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>